h1 {
    font-family: cursive;
    font-size: xx-large;
    text-align: center;
    color: white;
}

body {
    background-color: #58a5ed;
}

h2 {
    background-color: white;
    color:  #26292b ;
    font-family: sans-serif;
}

h4 {
    color: #26292b;
    font-family: sans-serif;
}

.negrito {
    font-weight: bolder;
    color: black;
    font-family: sans-serif;
}

.infos {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #0f2dd9;
    border: #0f2dd9 solid;
    padding: 20px;
    font-weight: bolder;
}

img {
    width: 770px;
    height: 232,5px;
}

