#imagemtitulo {
    text-align: center;
}

#titulo1 {
    color: white;
    text-align: center;
    font-family: cursive;
    text-transform: uppercase;
    font-size: x-large;
}

.fundo {
    background-color: #70d9e0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.fundo2 {
    background-color: #4f4f4e;
    padding-top: 8px;
    padding-bottom: 10px;;
    text-align: justify;
    color: #ffffff;
    font-family: sans-serif;
    border: 1265px;
}

body {
    background-color: #4f4f4e ;
}

.metas {
    border-top: 5px black solid;
}

.metas2 {
    color: white;
    font-family: sans-serif;
}

